<head>
    <link href="http://apps.bdimg.com/libs/highlight.js/9.1.0/styles/github-gist.min.css" rel="stylesheet">

</head>

<body>
    <pre><code>{{{code}}}</code></pre>
</body>

<script src="http://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>